.banner-container{
    background-image: url(./BannerAssets/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: auto;
    width: auto;
}
